<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADV Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<div class="jumbotron">
    <h3>Welcome</h3>

    <p class="lead">Selamat datang di Toko ADV Shop!</p>
    <hr class="my-4">
    <p>Silahkan lihat daftar produk kami.</p>
    <a class="btn btn-primary btn-lg" href="/product/list" role="button">Lihat Produk</a>
</div>
</body>
</html>